	/*
  	icon_rss icon font: icon_rss
  	Creation date: 04/03/2017 22:47
  	*/

@font-face {
  font-family: 'icon_rss';
  src: url('../fonts/icon_rss.eot');
  src: url('../fonts/icon_rss.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icon_rss.woff') format('woff'),
       url('../fonts/icon_rss.ttf') format('truetype'),
       url('../fonts/icon_rss.svg#icon_rss') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon_rss';
    src: url('../fonts/icon_rss.svg#icon_rss') format('svg');
  }
}

[class^='icon_rss-']:before, [class*=' icon_rss-']:before,
[class^='icon_rss-']:after, [class*=' icon_rss-']:after {   
  font-family: icon_rss;
  font-size: 1em;
  line-height: 0.75em;
  font-style: normal;
  margin-left: 0px;
  vertical-align: -15%;
}

.icon_rss-rss:before { content: '\f100'; }'; }