	/*
  	icon_instagram icon font: icon_instagram
  	Creation date: 04/03/2017 22:18
  	*/

@font-face {
  font-family: 'icon_instagram';
  src: url('../fonts/icon_instagram.eot');
  src: url('../fonts/icon_instagram.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icon_instagram.woff') format('woff'),
       url('../fonts/icon_instagram.ttf') format('truetype'),
       url('../fonts/icon_instagram.svg#icon_instagram') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon_instagram';
    src: url('../icon_instagram.svg#icon_instagram') format('svg');
  }
}

[class^='icon_instagram-']:before, [class*=' icon_instagram-']:before,
[class^='icon_instagram-']:after, [class*=' icon_instagram-']:after {   
  font-family: icon_instagram;
  font-size: 1em;
  line-height: 0.75em;
  font-style: normal;
  margin-left: 0px;
  vertical-align: -15%;
}

.icon_instagram-instagram:before { content: '\f100'; }'; }